@model CategoriesViewModel
<ul class="list-group">
    @{
        bool isCategory = ViewContext.RouteData.Values["Controller"]?.ToString() == "Category";
        string? selectedCategoryId = ViewData["SelectedCategory"]?.ToString();
    }

    <a class="list-group-item @(isCategory && selectedCategoryId == null ? "active" : "")" asp-area="" asp-controller="Category" asp-action="Index" asp-route-id="">
        <div class="nav-link w-100 d-flex justify-content-between align-items-center">
            <div>
                All Products
            </div>
            <span class="badge badge-primary rounded-pill">@Model.ProductCounts?[-1]</span>
        </div>
    </a>
    <a class="list-group-item @(isCategory && selectedCategoryId == "0" ? "active" : "")" asp-area="" asp-controller="Category" asp-action="Index" asp-route-id="0">
        <div class="nav-link w-100 d-flex justify-content-between align-items-center">
            <div>
                Uncategorized
            </div>
            <span class="badge badge-primary rounded-pill">@Model.ProductCounts?.GetValueOrDefault(0)</span>
        </div>
    </a>

    @foreach (var category in Model.Categories)
    {
        var isActive = isCategory && selectedCategoryId == category.Id.ToString();
        <a class="list-group-item @(isActive ? "active" : "")" asp-area="" asp-controller="Category" asp-action="Index" asp-route-id="@category.Id">
            <div class="nav-link w-100 d-flex justify-content-between align-items-center">
                <div>
                    <img src="@Url.Action("GetCategoryImage", "Home", new { area = "", id= category.Id })" width="24" height="24" class="object-fit-cover rounded" />
                    @category.Name
                </div>
                <span class="badge badge-primary rounded-pill">@Model.ProductCounts?.GetValueOrDefault(category.Id, 0)</span>
            </div>
        </a>
    }
</ul>
