@model List<Product>
@{
    ViewData["Title"] = "首頁";

    Pager pager = new Pager();

    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.pager;
        pageNo = pager.CurrentPage;
    }
}

<div class="container">
    <div class="text-center mb-4">
        <h1 class="display-4">@ViewData["Title"]</h1>
        @*<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    </div>

    <div class="card-columns row row-cols-1 row-cols-md-3 row-cols-xxl-4 g-4">
        @if (Model != null && Model.Any())
        {
            @foreach (var product in Model!)
            {
                <div class="col">
                    <div class="card h-100">
                        <img src="@product.ImageUrl" class="card-img-top object-fit-cover" style="aspect-ratio: 1/1;">
                        <div class="card-body">
                            <a href="@product.Link" target="_blank">
                                <div class="card-title title-truncation" style="font-size: 0.9rem; height: 2.5rem;">
                                    @product.Name
                                </div>
                            </a>
                            @if (!string.IsNullOrEmpty(product.Description))
                            {
                                <p class="card-text">@product.Description</p>
                            }
                            <div class="text-danger fw-bold">@product.Price.ToString("C0")</div>
                            <div class="text-primary mb-2" style="font-size: 0.8rem;">總銷量>@product.Sales</div>
                            <img src="@product.PlatformImageSrc" width="31" class="object-fit-cover rounded" />
                            <a class="btn btn-primary btn-sm" href="@product.Link" target="_blank">瀏覽</a>
                            <a class="btn btn-success btn-sm" asp-controller="Cart" asp-action="Add" asp-route-id="@product.Id">加入購物車</a>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    @if (pager.TotalPages > 0)
    {
        <nav aria-label="Page navigation" class="mt-4">
            <ul class="pagination justify-content-center">
            <li class="page-item">
                    <a class="page-link @(pager.CurrentPage == 1 ? "disabled" : "")" asp-controller="Home" asp-action="Index" asp-route-page="1">«</a>
            </li>
            <li class="page-item">
                    <a class="page-link @(pager.CurrentPage == 1 ? "disabled" : "")" asp-controller="Home" asp-action="Index" asp-route-page="@(pager.CurrentPage - 1)">‹</a>
            </li>
            @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
            {
                <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-controller="Home" asp-action="Index" asp-route-page="@pge">@pge</a>
                </li>
            }
            <li class="page-item">
                    <a class="page-link @(pager.CurrentPage == pager.TotalPages ? "disabled" : "")" asp-controller="Home" asp-action="Index" asp-route-page="@(pager.CurrentPage + 1)">›</a>
            </li>
            <li class="page-item">
                    <a class="page-link @(pager.CurrentPage == pager.TotalPages ? "disabled" : "")" asp-controller="Home" asp-action="Index" asp-route-page="@(pager.TotalPages)">»</a>
            </li>
        </ul>
    </nav>
    }
</div>