@model IEnumerable<PriceCompartor.Models.Product>?
@if (Model != null && Model.Any())
{
    @foreach (var product in Model)
    {
        <div class="col">
            <div class="card h-100">
                <img src="@product.ImageUrl" class="card-img-top object-fit-cover" style="height:190px;">
                <div class="card-body">
                    <a class="text-primary" asp-controller="Details" asp-action="Index" asp-route-id="@product.Id">
                        <div class="card-title title-truncation" style="font-size: 0.9rem; height: 2.5rem;">
                            @product.Name
                        </div>
                    </a>
                    <div class="text-danger fw-bold">@product.Price.ToString("C0")</div>
                    <div class="text-info mb-2" style="font-size: 0.8rem;">總銷量>@product.Sales</div>
                    <div class="text-primary mb-2" style="font-size: 0.8rem;">
                        @for (int i = 1; i < 6; i++)
                        {
                            <i class="fa-solid fa-star @(i <= @product.Rating ? "text-warning" : "text-muted")"></i>
                        }
                        <span>@product.Rating <span class="text-muted">(共 @product.TotalRatingCount 人評分)</span></span>
                    </div>
                    <div class="text-center">
                        <div class="btn-group">
                            <a class="btn btn-primary btn-sm" href="@product.Link" target="_blank" style="width: 31px; background:url(@Url.Action("GetPlatformImage", "Home",new { id=product.PlatformId })) no-repeat center center; background-size: cover"></a>
                            <a class="btn btn-info btn-sm" asp-controller="Details" asp-action="Index" asp-route-id="@product.Id"><i class="fa-regular fa-eye"></i></a>
                            <a class="btn btn-success btn-sm" asp-controller="Cart" asp-action="Add" asp-route-id="@product.Id"><i class="fa-solid fa-cart-shopping"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
