@model List<Product>
@{
    string? keyword = ViewContext.HttpContext.Request.Query["keyword"];
    ViewData["Title"] = keyword;

    Pager pager = new Pager();

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.pager;
    }
}

<div class="text-center m-4">
    <h2>搜索結果: @ViewData["Title"]</h2>
</div>
<partial name="_ProductCardPartial" model=Model />
@if (pager.TotalPages > 0)
{
    <nav aria-label="Page navigation" class="mt-4">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" asp-controller="Search" asp-action="Index" asp-route-page="1" asp-route-keyword="@keyword">«</a>
            </li>
            <li class="page-item">
                <a class="page-link" asp-controller="Search" asp-action="Index" asp-route-page="@(pager.CurrentPage - 1)" asp-route-keyword="@keyword">‹</a>
            </li>
            @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
            {
                <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-controller="Search" asp-action="Index" asp-route-page="@pge" asp-route-keyword="@keyword">@pge</a>
                </li>
            }
            <li class="page-item">
                <a class="page-link" asp-controller="Search" asp-action="Index" asp-route-page="@(pager.CurrentPage + 1)" asp-route-keyword="@keyword">›</a>
            </li>
            <li class="page-item">
                <a class="page-link" asp-controller="Search" asp-action="Index" asp-route-page="@(pager.TotalPages)" asp-route-keyword="@keyword">»</a>
            </li>
        </ul>
    </nav>
}