@model IEnumerable<Product>
@{
    ViewData["Title"] = "分類";

    Pager pager = new Pager();

    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.pager;
        pageNo = pager.CurrentPage;
    }
}

<form method="get" class="my-4 text-center" asp-action="Index">
    <div class="display-6">搜尋商品</div>
    <div class="form-group mt-2 d-flex w-100 justify-content-center">
        <input type="text" name="find" class="form-control" style="width: min(100%, 500px)" value="@ViewContext.HttpContext.Request.Query["find"]" />
        <input type="submit" value="搜尋" class="btn btn-primary" />
    </div>
</form>

<div id="content" class="card-columns row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6 g-4">
    <partial name="_ProductCardPartial" model=Model />
</div>

@if (pager.TotalPages > 0)
{
    <nav aria-label="Page navigation" class="mt-4">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                    <a class="page-link @(pager.CurrentPage == 1 ? "disabled" : "")" asp-controller="Category" asp-action="Index" asp-route-page="1">«</a>
            </li>
            <li class="page-item">
                    <a class="page-link @(pager.CurrentPage == 1 ? "disabled" : "")" asp-controller="Category" asp-action="Index" asp-route-page="@(pager.CurrentPage - 1)">‹</a>
            </li>
            @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
            {
                <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-controller="Category" asp-action="Index" asp-route-id="@ViewData["SelectedCategory"]" asp-route-page="@pge">@pge</a>
                </li>
            }
            <li class="page-item">
                    <a class="page-link @(pager.CurrentPage == pager.TotalPages ? "disabled" : "")" asp-controller="Category" asp-action="Index" asp-route-page="@(pager.CurrentPage + 1)">›</a>
            </li>
            <li class="page-item">
                    <a class="page-link @(pager.CurrentPage == pager.TotalPages ? "disabled" : "")" asp-controller="Category" asp-action="Index" asp-route-page="@(pager.TotalPages)">»</a>
            </li>
        </ul>
    </nav>
}