@model FilterViewModel
<div class="text-bg-light mb-3 p-3 rounded">
    <form method="get" id="FilterForm" action="@(ViewContext.RouteData.Values["controller"]?.ToString() == "Search" ? "" : Url.Action("Index", "Category"))">
        <input type="hidden" name="filterIsValid" value="true" />
        <input type="hidden" name="keyword" value="@ViewContext.HttpContext.Request.Query["keyword"]" />
        <input type="hidden" name="page" value="@ViewContext.HttpContext.Request.Query["page"]" />

        <div class="form-group">
            <label asp-for="PlatformCheckboxes" class="form-label"></label>
            <ul class="list-group">
                @foreach (SelectListItem filter in Model.PlatformCheckboxes)
                {
                    <li class="list-group-item user-select-none">
                        <img src="@Url.Action("GetPlatformImage", "Home",new { id=filter.Value })" width="31" class="object-fit-cover rounded" />
                        <input id="@filter.Value" type="checkbox" name="Filter" value="@filter.Value" checked="@filter.Selected" />
                        <label for="@filter.Value">@filter.Text</label>
                    </li>
                }
            </ul>
        </div>

        <div class="form-group mt-2">
            <label asp-for="SelectedSortOrder" class="form-label"></label>
            <select asp-for="SelectedSortOrder" class="form-control">
                @foreach (SortOrderType orderByType in Enum.GetValues(typeof(SortOrderType)))
                {
                    <option value="@orderByType">@SortOrder.GetDisplayName(orderByType)</option>
                }
            </select>
        </div>
        <div class="form-group mt-2">
            <label asp-for="MinPrice" class="control-label"></label>
            <input asp-for="MinPrice" class="form-control" />
            <span asp-validation-for="MinPrice" class="text-danger"></span>
        </div>
        <div class="form-group mt-2">
            <label asp-for="MaxPrice" class="control-label"></label>
            <input asp-for="MaxPrice" class="form-control" />
            <span asp-validation-for="MaxPrice" class="text-danger"></span>
        </div>

        <div class="form-group mt-2">
            <button class="btn btn-primary btn-sm" action="submit" id="filterSubmit">
                套用至@(ViewContext.RouteData.Values["controller"]?.ToString() == "Search" ? "搜尋" : "分類")頁面
            </button>
        </div>
    </form>
</div>

<script>
    $('#FilterForm input[type="checkbox"]').on('change', function () {
        var form = $(this).closest('form');
        form.submit();
    });

    $('#FilterForm select').on('change', function () {
        var form = $(this).closest('form');
        form.submit();
    });
</script>