@model IEnumerable<PriceCompartor.Models.Product>

@{
    ViewData["Title"] = "Products";

    Pager pager = new Pager();

    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.pager;
        pageNo = pager.CurrentPage;
    }
}

<h1>@ViewData["Title"]</h1>
<p>
    <a asp-action="Create" class="btn btn-primary btn-sm">Create New Product</a>
    <a asp-action="Sort" class="btn btn-info btn-sm">Sort Uncategorized Products</a>
    <a asp-action="Purge" class="btn btn-danger btn-sm">Purge All Products</a>
</p>
<form method="get" class="my-4" asp-action="Index">
    <label class="control-label">搜尋商品</label>
    <input type="text" name="find" class="form-control" value="@ViewContext.HttpContext.Request.Query["find"]" />
</form>
<table class="table table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sales)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category!.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Platform!.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if(Model != null && Model.Any())
        {
            @foreach(var product in Model)
            {
                <tr>
                    <td>
                        <img src="@product.ImageUrl" width="100" height="100" class="rounded" />
                    </td>
                    <td>
                        @Html.DisplayFor(model => product.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => product.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(model => product.Sales)
                    </td>
                    <td>
                        @Html.DisplayFor(model => product.Category!.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(model => product.Platform!.Name)
                    </td>
                    <td>
                        <div class="d-flex gap-1">
                            <a asp-action="Edit" asp-route-id="@product.Id" class="btn btn-success btn-sm">Edit</a>
                            <a asp-action="Delete" asp-route-id="@product.Id" class="btn btn-danger btn-sm">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="5">
                    <div>
                        Products not available in the database.
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


@if (pager.TotalPages > 0)
{
    <nav aria-label="Page navigation" class="mt-4" style="margin-bottom: 5rem">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link @(pager.CurrentPage == 1 ? "disabled" : "")" asp-area="Admin" asp-controller="Product" asp-action="Index" asp-route-page="1">«</a>
            </li>
            <li class="page-item">
                <a class="page-link @(pager.CurrentPage == 1 ? "disabled" : "")" asp-area="Admin" asp-controller="Product" asp-action="Index" asp-route-page="@(pager.CurrentPage - 1)">‹</a>
            </li>
            @for (var pge = pager.StartPage; pge <= pager.EndPage; pge++)
            {
                <li class="page-item @(pge == pager.CurrentPage ? "active" : "")">
                    <a class="page-link" asp-area="Admin" asp-controller="Product" asp-action="Index" asp-route-page="@pge">@pge</a>
                </li>
            }
            <li class="page-item">
                <a class="page-link @(pager.CurrentPage == pager.TotalPages ? "disabled" : "")" asp-area="Admin" asp-controller="Product" asp-action="Index" asp-route-page="@(pager.CurrentPage + 1)">›</a>
            </li>
            <li class="page-item">
                <a class="page-link @(pager.CurrentPage == pager.TotalPages ? "disabled" : "")" asp-area="Admin" asp-controller="Product" asp-action="Index" asp-route-page="@(pager.TotalPages)">»</a>
            </li>
        </ul>
    </nav>
}
